body{
    margin: 0;
    padding: 0;
    line-height: 1,5;
    font-family: sans-serif;;
    background-image: url(../img/viandas_varias.jpg);
    box-sizing: border-box;
}
ul{
    list-style: none;
}

.menu{
    color:gold;
    text-decoration: none;
    display: block;
    padding: 1px 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    background-color:black;
    float: left;
}

.mapa{
    margin-left: 25cm;
    position:absolute;
    right: 550px;
    top: 160px;
    background-color: black;
    padding: 15px;
}
p{
    color:black;
    background-color:rgb(255, 166, 0);
    margin: 200px;
    padding: 15px;
    margin-right: 65%;
    margin-left: 0%;
}
.logos{
    margin-left: 25.5cm;
    
        padding: 10px;
}

.header-logo{
    width: 100px;
}
