@font-face {
    font-family: Oswald;
    src: url(../Estilos/BreeSerif-Regular.ttf);
}
body{
   
    line-height: 1,5;
    font-family: Oswald;
    background-image: url(../img/viandas_varias.jpg);
}


ul{
    list-style: none;

}

.menu{
    color: gold;
    text-decoration: none;
    display: block;
    padding: 1px 28px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    background-color:black;
    float: left;

    
}
h2{
    color:black;
    background-color: rgb(255, 166, 0);
    margin: 200px;
    padding: 15px;
    margin-right: 65%;
    margin-left: 0%;
}

.foto1{
    background-color: rgba(255,255,255,0.8);
    padding: 5px;
    
   
}
.foto2{

    background-color: black;
    padding: 25px;
}
h3{
    color: black;
    background-color: yellow;
    padding: 5px;
    font-family:sans-serif;
    font-weight: 200;
    font-style:normal;
}
.logos{
    padding: 10px;
}

.anim{
    transition-duration: 0.5s;
}
.anim:hover{
    transform:scale(1.2);
}
.header-logo{
    width: 100px;
}.navbar{
    color:black;
}.parrafo{
    background-color: rgba(255, 166, 0,1);
    font-size: 20px;
    font-family: Oswald;
}
@media (max-width: 992px){
    .pie{
        display: none;
    }
    
}
.imagenfluida{
    max-width: 100%;
    height: auto;
}
@media only screen and (min-width:992px){
    .imagenfluida{
    max-width: 600px;}
}






    
    
    
    
    
        
        
    
















